type=mysql
driver=com.mysql.jdbc.Driver
url=jdbc:mysql://localhost:3306/artdb?characterEncoding=UTF-8&elideSetAutoCommits=true
username=artifactory
password={{ artifactory_db_password }}

#type=derby
#url=jdbc:derby:{db.home};create=true
#driver=org.apache.derby.jdbc.EmbeddedDriver
